<div class="container mt-4">
    <h2> <i class="fa-solid fa-wrench"></i> Scheduled Services (Next 2 Weeks)</h2>
  
    <div *ngIf="loading$ | async" class="text-center mt-4">
      <div class="spinner-border text-primary" role="status"></div>
    </div>
  
    <div *ngIf="(services$ | async)?.length === 0" class="alert alert-info mt-4">
      No scheduled services in the next 2 weeks.
    </div>
  
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mt-3" *ngIf="(services$ | async) as services">
      <div class="col" *ngFor="let service of services">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ service.carType }} - {{ service.carModel }}</h5>
            <p class="card-text">
              <strong>Car Id:</strong>
              {{ service.carId }} <br />
              <strong>Next Service Date:</strong>
              {{ service.serviceStartDate | date: 'longDate' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>